header.header
	.container
		.header__top
			a(href="tel:+63393128") +63393128
			a(href="mailto:info@business.co") info@business.co
			a.icon.icon-fb
		.header__bottom
			.logo
				a(href="/")
					img(src="img/general/logo.png" title="Логотип Business Tagline goes here")
			nav
				ul.nav__list
					li
						a(href="javascript:void(0);") Home
					li
						a(href="javascript:void(0);") About us
					li
						a(href="javascript:void(0);") Our Approch
					li
						a(href="javascript:void(0);") Our Work
			a(src="javascript:void(0);") Free Consultation