header.header
	.header__top
		.container
			.contacts
				a(href="tel:63393128").contacts__icon.contacts__icon-phone 6337 3128
				a(href="mailto:info@business.co").contacts__icon.contacts__icon-mail info@business.co
				a(href="javascript:void(0);").contacts__icon-fb
	.header__bottom
		.container
			.logo
				a(href="/")
					img(src="img/general/logo.png" title="Логотип Business Tagline goes here")
			nav.nav
				ul.nav__list
					li
						a(href="javascript:void(0);").nav__item-active Home
					li
						a(href="javascript:void(0);") About Us
					li
						a(href="javascript:void(0);") Our Approch
					li
						a(href="javascript:void(0);") Our Work
			a(href="javascript:void(0);").g-btn.header__bottom-btn Free Consultation