@media only screen and (max-width : 1200px)
	.nav
		margin-left: 0

@media only screen and (max-width : 992px)
	.about-us
		padding: 44px 0
		&__advantages
			display: flex
			flex-flow: wrap column
			justify-content: space-around
			align-items: center
		&__item
			margin-bottom: 60px
			width: 60%
			&:last-child
				margin-bottom: 0

@media only screen and (max-width : 814px)
	.header
		&__bottom
			padding: 14px 0
			.container
				padding: 11px 0
				display: flex
				flex-flow: row wrap
				justify-content: space-between
				align-items: center
	.nav
		order: 1
		margin: 20px auto 0
		text-align: center

@media only screen and (max-width : 768px)
	.top-banner
		&__text
			font: 20px/20px $NeueLight, $familyFont
		&__btn
			padding: 18px 24px

@media only screen and (max-width : 480px)
    /**/

@media only screen and (max-width : 425px)
	.header
		&__bottom
			.container
				justify-content: center
			.logo
				margin-bottom: 10px

	.nav
		margin-top: 16px
		width: 100%
		&__list
			li
				display: block
				vertical-align: top
				margin-bottom: 6px
				text-align: center
				&:after
					content: none

@media only screen and (max-width : 330px)
	.contacts
		&__icon
			&:first-child
				margin-right: 65px
			&-phone
				&:before
					right: -18px
