// COLORS
$greyColor: #f0f2f4
$redColor: #de2b24
$blueColor: #1287bf
$lightColor: #f3f3f3
$darkGreyColor: #2a2a2a
$lightGreyColor: #515151

// TEXT COLORS
$textColor: #424242
$subTextColor: #5c5c5c

// FONTS
$familyFont: Arial, Tahoma, sans-serif
$mainFont: "opensansRegular"
$boldFont: "georgiaBold"
$NeueBoldFont: "helveticaNeueBold"
$NeueLight: "helveticaNeueLight"
$NeueBold: "helveticaNeueBold"