@font-face {
  font-family: "georgiaBold";
  src: url("../fonts/georgiaBold/georgiaBold.woff2") format("woff2"), url("../fonts/georgiaBold/georgiaBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helveticaNeueBold";
  src: url("../fonts/helveticaNeue/helveticaNeueBold.woff2") format("woff2"), url("../fonts/helveticaNeue/helveticaNeueBold.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helveticaNeueLight";
  src: url("../fonts/helveticaNeue/helveticaNeueLight.woff2") format("woff2"), url("../fonts/helveticaNeue/helveticaNeueLight.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "helveticaRegular";
  src: url("../fonts/helveticaNeue/helveticaNeueRegular.woff2") format("woff2"), url("../fonts/helveticaNeue/helveticaNeueRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "opensansRegular";
  src: url("../fonts/opensansRegular/opensansRegular.woff2") format("woff2"), url("../fonts/opensansRegular/opensansRegular.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 16px;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

textarea {
  resize: none;
}

input,
select,
button {
  outline: none;
}

ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  position: relative;
  overflow-x: hidden;
  min-width: 320px;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
      -ms-text-size-adjust: none;
          text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  font-family: "opensansRegular", Arial, Tahoma, sans-serif;
  font-size: 16px;
  line-height: 1;
  color: #000;
}

.container {
  position: relative;
  width: 98%;
  max-width: 1024px;
  margin: 0 auto;
}

.text-left {
  text-align: left;
  padding: 0 54px 0 90px;
}

.text-right {
  text-align: right;
  padding: 0 90px 0 54px;
}

.g-btn {
  display: inline-block;
  font: 15px/15px "helveticaNeueBold", Arial, Tahoma, sans-serif;
  color: #fff;
  border-radius: 5px;
  padding: 9px 20px;
  border: 1px solid transparent;
}

.section-title {
  color: #424242;
  font: 36px/36px "helveticaNeueBold", Arial, Tahoma, sans-serif;
}

.section-text {
  position: relative;
  color: #424242;
  font: 20px/26px "helveticaNeueLight", Arial, Tahoma, sans-serif;
}

.section-text:after {
  content: '';
  position: absolute;
  bottom: -17px;
  left: calc(50% - 24px);
  width: 48px;
  height: 5px;
  background-color: #424242;
}

.header__top {
  padding: 8px 0;
  background-color: #f0f2f4;
  border-bottom: 1px solid #e2e2e2;
}

.header__bottom {
  padding: 30px 0;
}

.header__bottom-btn {
  margin-right: 2px;
  background-color: #de2b24;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.header__bottom-btn:hover {
  color: #de2b24;
  border: 1px solid #de2b24;
  background-color: #fff;
}

.header__bottom .container {
  padding: 11px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts {
  font: 15px/15px "helveticaRegular", Arial, Tahoma, sans-serif;
  text-align: right;
}

.contacts__icon {
  display: inline-block;
  vertical-align: middle;
  margin-right: 14px;
}

.contacts__icon:first-child {
  margin-right: 70px;
}

.contacts__icon-phone {
  position: relative;
}

.contacts__icon-phone:after {
  content: '';
  position: absolute;
  left: -20px;
  top: -2px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(../img/pngSprite/sprite.png);
  background-position: -121px -104px;
  width: 11px;
  height: 18px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.contacts__icon-phone:before {
  content: '';
  position: absolute;
  top: -14px;
  right: -22px;
  height: 43px;
  width: 1px;
  background-color: #e2e2e2;
}

.contacts__icon-phone:hover {
  text-decoration: underline;
}

.contacts__icon-phone:hover:after {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.contacts__icon-mail {
  position: relative;
  margin-top: 2px;
}

.contacts__icon-mail:after {
  content: '';
  position: absolute;
  left: -30px;
  top: -1px;
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-image: url(../img/pngSprite/sprite.png);
  background-position: -180px -57px;
  width: 20px;
  height: 16px;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.contacts__icon-mail:hover {
  text-decoration: underline;
}

.contacts__icon-mail:hover:after {
  -webkit-transform: rotate(20deg);
      -ms-transform: rotate(20deg);
          transform: rotate(20deg);
}

.contacts__icon-fb {
  display: inline-block;
  vertical-align: middle;
  padding: 13px 13px 13px 13px;
  border-radius: 4px;
  background: #1287bf url(../img/pngSprite/sprite.png) -43px -160px no-repeat;
  width: 8px;
  height: 16px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.contacts__icon-fb:hover {
  background-color: #000;
}

.logo a {
  display: block;
}

.logo a img {
  display: block;
}

.nav {
  margin-left: 16%;
}

.nav__item-active {
  color: #de2b24;
}

.nav__list li {
  display: inline-block;
  vertical-align: top;
}

.nav__list li:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px;
  background-color: #000;
  width: 5px;
  height: 5px;
  border-radius: 50%;
}

.nav__list li:last-child:after {
  content: none;
}

.nav__list a {
  font: 15px/15px "helveticaNeueBold", Arial, Tahoma, sans-serif;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}

.nav__list a:hover {
  color: #de2b24;
}

.top-banner {
  padding-top: 170px;
  min-height: 590px;
  background: #1287bf url("../img/content/bg_top-banner.jpg") center center no-repeat;
  background-size: cover;
  color: #fff;
  text-align: center;
}

.top-banner__title {
  font: 48px/48px "helveticaNeueBold", Arial, Tahoma, sans-serif;
}

.top-banner__text {
  font: 30px/30px "helveticaNeueLight", Arial, Tahoma, sans-serif;
}

.top-banner__btn {
  padding: 21px 44px;
  margin-top: 35px;
  text-transform: uppercase;
  background-color: #f8cd53;
  font: 23px/23px "helveticaNeueBold", Arial, Tahoma, sans-serif;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.top-banner__btn:hover {
  color: #f8cd53;
  background-color: transparent;
  border: 1px solid #f8cd53;
}

.about-us {
  padding: 94px 0;
  text-align: center;
  margin-bottom: 20px;
}

.about-us .container .section-text {
  margin-bottom: 68px;
}

.about-us__advantages {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: wrap row;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-us__item {
  width: 33%;
}

.about-us__img {
  display: block;
  margin: 0 auto 20px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.about-us__img:hover {
  -webkit-transform: scale(1.2, 1.2);
      -ms-transform: scale(1.2, 1.2);
          transform: scale(1.2, 1.2);
}

.about-us__title {
  color: #424242;
  margin-bottom: 12px;
  font: 22px/22px "helveticaNeueBold", Arial, Tahoma, sans-serif;
}

.about-us__text {
  color: #424242;
  max-width: 246px;
  font: 14px/22px "opensansRegular", Arial, Tahoma, sans-serif;
  margin: 0 auto;
}

.our-approch {
  counter-reset: counter-approch;
  padding: 86px 0 130px;
  background-color: #f3f3f3;
  text-align: center;
}

.our-approch .container .section-text {
  margin-bottom: 62px;
}

.our-approch__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 33px;
  min-height: 240px;
  background-color: #fff;
  border: 1px solid #e2e2e2;
}

.our-approch__item:hover .our-approch__step {
  -webkit-transform: rotateY(360deg);
          transform: rotateY(360deg);
}

.our-approch__item:last-child {
  margin-bottom: 0;
}

.our-approch__left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-content: center;
      -ms-flex-line-pack: center;
          align-content: center;
  position: relative;
}

.our-approch__left:nth-child(even) .our-approch__step {
  right: calc(100% - 51px);
}

.our-approch__left:nth-child(odd) .our-approch__step {
  left: calc(100% - 51px);
}

.our-approch__step {
  position: absolute;
  top: calc(50% - 58px);
  padding: 8px 30px 22px;
  border-radius: 5px;
  color: #fff;
  border: 2px solid #fff;
  font: 20px/20px "helveticaRegular", Arial, Tahoma, sans-serif;
  background-color: #de2b24;
  z-index: 1;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.our-approch__step:before {
  display: block;
  margin-bottom: -3px;
  font: 53px/53px "georgiaBold", Arial, Tahoma, sans-serif;
  counter-increment: counter-approch;
  content: counter(counter-approch);
}

.our-approch__img img {
  display: block;
  max-width: 340px;
  width: 100%;
  min-height: 240px;
}

.our-approch__right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column wrap;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: calc(100% - 340px);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.our-approch__title {
  font: 18px/18px "helveticaNeueBold", Arial, Tahoma, sans-serif;
  margin-bottom: 10px;
}

.our-approch__text {
  font: 14px/22px "opensansRegular", Arial, Tahoma, sans-serif;
}

@-webkit-keyframes plane {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: calc( 50% - 18px);
    top: calc( 38% - 18px);
  }
  26% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
    top: calc( 10% - 18px);
    left: calc( 85% - 18px);
  }
  50% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 40% - 18px);
    left: calc( 85% - 18px);
  }
  90% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 100% - 18px);
    left: calc( -10% - 18px);
  }
  100% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 100% - 18px);
    left: calc( -10% - 18px);
  }
}

@keyframes plane {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: calc( 50% - 18px);
    top: calc( 38% - 18px);
  }
  26% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
    top: calc( 10% - 18px);
    left: calc( 85% - 18px);
  }
  50% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 40% - 18px);
    left: calc( 85% - 18px);
  }
  90% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 100% - 18px);
    left: calc( -10% - 18px);
  }
  100% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 100% - 18px);
    left: calc( -10% - 18px);
  }
}

.our-work {
  padding: 106px 0 126px;
  text-align: center;
  background-color: #de2b24;
}

.our-work .container .section-title, .our-work .container .section-text {
  color: #fff;
}

.our-work .container .section-text {
  margin-bottom: 62px;
}

.our-work .container .section-text:after {
  background-color: #fff;
}

.our-work__wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: wrap row;
      -ms-flex-flow: wrap row;
          flex-flow: wrap row;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.our-work__item {
  max-width: 255px;
  width: 100%;
  min-height: 255px;
  overflow: hidden;
}

.our-work__item a {
  display: block;
}

.our-work__item--text {
  position: relative;
  padding: 138px 20px 14px;
  color: #fff;
  background-color: #f35e59;
}

.our-work__item--text:before {
  content: '';
  position: absolute;
  left: calc( 50% - 18px);
  top: calc( 38% - 18px);
  display: block;
  background-image: url(../img/pngSprite/sprite.png);
  background-position: -104px 0px;
  width: 36px;
  height: 37px;
  background-repeat: no-repeat;
}

.our-work__item--text:hover:before {
  -webkit-animation: plane 2s linear forwards;
          animation: plane 2s linear forwards;
}

.our-work__item--img {
  position: relative;
}

.our-work__item--img:before {
  content: '';
  position: absolute;
  background-color: rgba(255, 255, 255, 0.2);
  width: 360px;
  height: 100px;
  bottom: -81px;
  left: -223px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.our-work__item--img:hover:before {
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
  bottom: 246px;
  left: 109px;
}

.our-work__img img {
  display: block;
  max-width: 255px;
  width: 100%;
  min-height: 255px;
}

.our-work__title {
  font: 26px/26px "helveticaNeueBold", Arial, Tahoma, sans-serif;
}

.our-work__text {
  font: 15px/15px "helveticaNeueBold", Arial, Tahoma, sans-serif;
}

::-webkit-input-placeholder {
  color: #b0b0b0;
  font: 14px/14px "opensansRegular", Arial, Tahoma, sans-serif;
}

::-moz-placeholder {
  color: #b0b0b0;
  font: 14px/14px "opensansRegular", Arial, Tahoma, sans-serif;
}

:-ms-input-placeholder {
  color: #b0b0b0;
  font: 14px/14px "opensansRegular", Arial, Tahoma, sans-serif;
}

::placeholder {
  color: #b0b0b0;
  font: 14px/14px "opensansRegular", Arial, Tahoma, sans-serif;
}

.subscribe {
  padding: 96px 0 110px;
  text-align: center;
  background-color: #1287bf;
}

.subscribe .container {
  -webkit-transition: 0.6s linear;
  -o-transition: 0.6s linear;
  transition: 0.6s linear;
  height: 120px;
}

.subscribe .container.show-container {
  height: 100%;
}

.subscribe .container .section-title, .subscribe .container .section-text {
  color: #fff;
}

.subscribe .container .section-title:after, .subscribe .container .section-text:after {
  content: none;
}

.subscribe__arrow-down {
  content: '';
  display: block;
  margin: 12px auto 54px;
  background-image: url(../img/pngSprite/sprite.png);
  background-position: 0px 0px;
  width: 64px;
  height: 64px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  -o-transition: transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.subscribe__arrow-down:hover {
  -webkit-transform: scale(1.1, 1.1);
      -ms-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.subscribe__form {
  -webkit-transform: scale(0, 0);
      -ms-transform: scale(0, 0);
          transform: scale(0, 0);
  position: relative;
  max-width: 685px;
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  padding: 46px 38px 70px;
  background-color: #fff;
  -webkit-transition: 0.6s linear;
  -o-transition: 0.6s linear;
  transition: 0.6s linear;
}

.subscribe__form.show-form {
  -webkit-transform: scale(1, 1);
      -ms-transform: scale(1, 1);
          transform: scale(1, 1);
}

.subscribe__form:before {
  content: '';
  display: block;
  position: absolute;
  left: calc( 50% - 21px);
  top: -21px;
  width: 42px;
  height: 42px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.subscribe__form-close {
  position: absolute;
  right: -18px;
  top: -22px;
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #de2b24;
  border: 2px solid #fff;
  font-size: 34px;
  line-height: 39px;
  color: #fff;
  cursor: pointer;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease, -webkit-transform 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease, border 0.3s ease, -webkit-transform 0.3s ease;
}

.subscribe__form-close:hover {
  border: 2px solid #de2b24;
  background-color: #fff;
  color: #de2b24;
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
}

.subscribe__form-text {
  margin-bottom: 36px;
  font: 15px/21px "opensansRegular", Arial, Tahoma, sans-serif;
  color: #b0b0b0;
}

.subscribe__form input {
  max-width: 445px;
  width: 100%;
  padding: 15px 18px;
  margin-bottom: 11px;
  border-radius: 5px;
  border: 1px solid #d8d8d8;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}

.subscribe__form input:focus {
  -webkit-box-shadow: 0 0 4px 0 #1287bf;
          box-shadow: 0 0 4px 0 #1287bf;
  border: 1px solid #1287bf;
}

.subscribe__form button {
  cursor: pointer;
  display: block;
  margin: 26px auto 0;
  padding: 13px 30px;
  text-transform: uppercase;
  background-color: #de2b24;
  color: #fff;
  border: 2px solid transparent;
  -webkit-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  -o-transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  transition: color 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.subscribe__form button:hover {
  border: 2px solid #de2b24;
  background-color: #fff;
  color: #de2b24;
}

.footer {
  padding-top: 43px;
  background-color: #2a2a2a;
  text-align: center;
}

.footer__top {
  padding: 40px 0 86px;
}

.footer__top .section-text,
.footer__top .section-title {
  color: #fff;
}

.footer__top .section-title {
  font-size: 29px;
  margin-bottom: 26px;
}

.footer__top .section-text {
  margin-bottom: 24px;
  font-size: 15.7px;
}

.footer__top .section-text:after {
  content: none;
}

.footer__social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 28px;
}

.footer__social-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 18px;
  border: 2px solid #515151;
  border-radius: 4px;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.footer__social-item:last-child {
  margin-right: 0;
}

.footer__social-item:hover {
  border: 2px solid #de2b24;
}

.footer__social--fb {
  background-image: url(../img/pngSprite/sprite.png);
  background-position: 0px -166px;
  width: 12px;
  height: 22px;
}

.footer__social--tw {
  background-image: url(../img/pngSprite/sprite.png);
  background-position: -180px 0px;
  width: 21px;
  height: 17px;
}

.footer__social--gpl {
  background-image: url(../img/pngSprite/sprite.png);
  background-position: 0px -104px;
  width: 20px;
  height: 22px;
}

.footer__social--in {
  background-image: url(../img/pngSprite/sprite.png);
  background-position: -60px -104px;
  width: 21px;
  height: 19px;
}

.footer__subscribe input {
  max-width: 684px;
  width: 100%;
  padding: 16px 20px;
  background-color: #515151;
  border: 2px solid transparent;
  border-radius: 5px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  color: #fff;
}

.footer__subscribe input:focus {
  border: 2px solid #de2b24;
}

.footer__subscribe button {
  display: block;
  margin: 27px auto 0;
  border-radius: 5px;
  padding: 16px 40px;
  background-color: transparent;
  border: 2px solid #515151;
  cursor: pointer;
  -webkit-transition: border 0.3s linear;
  -o-transition: border 0.3s linear;
  transition: border 0.3s linear;
}

.footer__subscribe button:hover {
  border: 2px solid #de2b24;
}

.footer__bottom {
  padding: 26px;
  background-color: #515151;
}

.footer__bottom .section-text {
  font: 15px/15px Arial, Tahoma, sans-serif;
  color: #fff;
}

.footer__bottom .section-text:after {
  content: none;
}

@keyframes plane {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    left: calc( 50% - 18px);
    top: calc( 38% - 18px);
  }
  26% {
    -webkit-transform: rotate(100deg);
            transform: rotate(100deg);
    top: calc( 10% - 18px);
    left: calc( 85% - 18px);
  }
  50% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 40% - 18px);
    left: calc( 85% - 18px);
  }
  90% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 100% - 18px);
    left: calc( -10% - 18px);
  }
  100% {
    -webkit-transform: rotate(200deg);
            transform: rotate(200deg);
    top: calc( 100% - 18px);
    left: calc( -10% - 18px);
  }
}

@media only screen and (max-width: 1200px) {
  .nav {
    margin-left: 0;
  }
}

@media only screen and (max-width: 1057px) {
  .our-work__wrap {
    margin: 0 auto;
    max-width: 740px;
    width: 100%;
  }
  .our-work__item {
    margin-bottom: 1px;
  }
  .our-work__item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 992px) {
  .about-us {
    padding: 44px 0;
  }
  .about-us__advantages {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: wrap column;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-us__item {
    margin-bottom: 60px;
    width: 60%;
  }
  .about-us__item:last-child {
    margin-bottom: 0;
  }
}

@media only screen and (max-width: 850px) {
  .our-approch__left {
    width: 100%;
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    padding: 40px 0 20px;
  }
  .our-approch__left:nth-child(even) .our-approch__step, .our-approch__left:nth-child(odd) .our-approch__step {
    left: auto;
    right: auto;
    top: calc(20% - 58px);
  }
  .our-approch__right {
    max-width: 100%;
    text-align: center;
  }
  .text-right,
  .text-left {
    padding: 30px 20px;
  }
}

@media only screen and (max-width: 814px) {
  .header__bottom {
    padding: 14px 0;
  }
  .header__bottom .container {
    padding: 11px 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row wrap;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav {
    -webkit-box-ordinal-group: 2;
    -webkit-order: 1;
        -ms-flex-order: 1;
            order: 1;
    margin: 20px auto 0;
    text-align: center;
  }
}

@media only screen and (max-width: 768px) {
  .top-banner__text {
    font: 20px/20px "helveticaNeueLight", Arial, Tahoma, sans-serif;
  }
  .top-banner__btn {
    padding: 18px 24px;
  }
  .subscribe {
    padding: 96px 20px 110px;
  }
  .subscribe__form {
    padding: 30px 10px;
  }
  .footer__top {
    padding: 40px 10px 86px;
  }
}

@media only screen and (max-width: 538px) {
  .our-work__item {
    margin-bottom: 0;
  }
  .our-work__item:nth-child(2n) {
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 425px) {
  .header__bottom .container {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__bottom .logo {
    margin-bottom: 10px;
  }
  .nav {
    margin-top: 16px;
    width: 100%;
  }
  .nav__list li {
    display: block;
    vertical-align: top;
    margin-bottom: 6px;
    text-align: center;
  }
  .nav__list li:after {
    content: none;
  }
}

@media only screen and (max-width: 330px) {
  .contacts__icon:first-child {
    margin-right: 65px;
  }
  .contacts__icon-phone:before {
    right: -18px;
  }
}

/*# sourceMappingURL=main.css.map */
