section.about-us#ex2
	.container
		h2.section-title About Us
		p.section-text We are added our major Services
		.about-us__advantages
			.about-us__item
				img(src="img/general/about-us_like.png").about-us__img
				h3.about-us__title Facebook Marketing
				p.about-us__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
			.about-us__item
				img(src="img/general/about-us_book.png").about-us__img
				h3.about-us__title landing pages Creation
				p.about-us__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever
			.about-us__item
				img(src="img/general/about-us_management.png").about-us__img
				h3.about-us__title Ads management
				p.about-us__text Lorem Ipsum is simply dummy text of the printing and typesetting industry.  standard dummy text ever