section.our-work#ex4
	.container
		h2.section-title Our Work
		p.section-text We are added our featured works below
		.our-work__wrap
				.our-work__item.our-work__item--text
					h3.our-work__title Project Name
					p.our-work__text Facebook marketing
				.our-work__item.our-work__item--img
					a(href="javascript:void(0);")
						.our-work__img
							img(src="img/content/our-work_camera.jpg")

				.our-work__item.our-work__item--text
					h3.our-work__title Project Name
					p.our-work__text Landing page
				.our-work__item.our-work__item--img
					a(href="javascript:void(0);")
						.our-work__img
							img(src="img/content/our-work_nature.jpg")

				.our-work__item.our-work__item--img
					a(href="javascript:void(0);")
						.our-work__img
							img(src="img/content/our-work_river.jpg")
				.our-work__item.our-work__item--text
					h3.our-work__title Project Name
					p.our-work__text Landing page

				.our-work__item.our-work__item--img
					a(href="javascript:void(0);")
						.our-work__img
							img(src="img/content/our-work_forest-road.jpg")
				.our-work__item.our-work__item--text
					h3.our-work__title Project Name
					p.our-work__text Facebook marketing
