section.subscribe
	.container
		h2.section-title Get Your Free Facebook Analysis Now
		p.section-text Enter your details below
		a(href="javascript:void(0);").subscribe__arrow-down
		form(action="#" method="POST").subscribe__form
			a.subscribe__form-close x
			p.subscribe__form-text Sit down with our experts to receive a free customized marketing plan for your business + Learn How To Use Google and Facebook to get 5000% ROI or more
			input(type="text" name="name" placeholder="Your Name" required)
			input(type="text" name="contact" placeholder="Contact Number" required)
			input(type="text" name="comapany" placeholder="Company Name" required)
			button(type="submit").g-btn Submit Now